<div class="container">
  <div class="row">
    <div class="col-md-7 blog-main">
      
      <h1>{{name}}</h1>
      
      <p>My e-mail is {{email}}</p>
          <p>And my favorite snack is {{favorite_snack}}.</p>
          <p><strong>Address:</strong> {{address.street}} {{address.city}}, {{address.province}}.</p>
          <button (click)="toggleHobbies()">{{showHobbies ? "Hide Hobbies" : "Show Hobbies"}}</button>
          <div *ngIf="showHobbies">
            <h3>Hobbies:</h3>
            <ul>
              <li *ngFor="let hobby of hobbies; let i = index">
                {{hobby}} <button (click)="deleteHobby(i)">X</button>
              </li>
            </ul>
            <form class="add-hobby" (submit)="addHobby(hobby.value)">
              <label>Add Hobby: </label><br />
              <input type="text" #hobby /><br />
            </form>
          </div>

          <h3>Posts</h3>
          <div *ngFor="let post of posts">
            <h4>{{post.title}}</h4>
            <p>{{post.body}}
              <p>
          </div>
    </div>
    <div class="col-md-4 offset-sm-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h3>Edit User</h3>
        <form class="formy-form">
          <label>Name: </label><br />
          <input type="text" name="name" [(ngModel)]="name" /><br />
          <label>Email: </label><br />
          <input type="text" name="email" [(ngModel)]="email" /><br />
          <label>Snack: </label><br />
          <input type="text" name="favorite_snack" [(ngModel)]="favorite_snack" /><br />
          <label>Street: </label><br />
          <input type="text" name="address.street" [(ngModel)]="address.street" /><br />
          <label>City: </label><br />
          <input type="text" name="address.city" [(ngModel)]="address.city" /><br />
          <label>Province: </label><br />
          <input type="text" name="address.province" [(ngModel)]="address.province" /><br />
        </form>
      </div>
    </div>
  </div>
</div>